.app-ProductList {
  &-list {
    display: grid;
    gap: 1rem;
    margin: auto;
    width: fit-content;
  }
  &-header {
    text-align: center;
  }
  &-promo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
    margin: 1rem auto;
    align-items: center;
    &-promoCodeInput {
      text-transform: uppercase;
      padding: 0.5rem;
    }
  }
  &-card {
    display: grid;
    grid-template-columns: 1fr auto;

    &-desc {
      max-width: 300px;
      display: grid;
    }

    &-price {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    &-prevPrice {
      text-decoration: line-through;
      color: #999;
    }

    &-icon {
      background-size: cover;
      background-image: url('./../../assets/icons/discount-badge.png');
      aspect-ratio: 1;
      height: 1rem;
    }

    &-image {
      margin: auto;
      height: 200px;
      padding: 1rem;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / span 2;
    }
  }
}
