<mat-form-field >
  <mat-label>{{label}}</mat-label>
  <input [attr.aria-label]="aria?.['label']" [formControl]="datePickerControl" matInput [matDatepicker]="datepicker">
  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker>
    <mat-datepicker-actions>
      <button mat-button matDatepickerCancel>Cancel</button>
      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
    </mat-datepicker-actions>
  </mat-datepicker>
  <mat-hint>{{ hint }}</mat-hint>
  <mat-error>
    <app-custom-error/>
  </mat-error>
</mat-form-field>
