<mat-list role="list">
  <div mat-subheader>Forms</div>
  <mat-list-item routerLink="reactive-profile-form">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle><strong>Reactive profile form</strong> </div>
    <div matListItemLine>Abstracted, accessiblity, business logic</div>
  </mat-list-item>

  <mat-list-item routerLink="reactive-form-example">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle><strong>Reactive example form</strong> </div>
    <div matListItemLine>Barebone example</div>
  </mat-list-item>

  <mat-list-item routerLink="template-driven-form-example">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle><strong>Template driven form</strong> </div>
    <div matListItemLine>Barebone example</div>
  </mat-list-item>
</mat-list>
