

<form [formGroup]="profileForm">
  <fieldset class="app-ReactiveProfileForm-fieldset">
    <legend>
      {{ 'myProfile' | translate }}
    </legend>

    <app-select-control formControlName="country" [aria]="profileForm.countryControl.aria" [label]="profileForm.countryControl.label ?? ''" [options]="[
      {
        label: ('countries.'+CountryCode.US | translate) + '',
        value: CountryCode.US
      },
      {
        label: ('countries.'+CountryCode.CL | translate) + '',
        value: CountryCode.CL
      }
    ]"/>

    <app-text-control formControlName="displayName" [aria]="profileForm.displayNameControl.aria"  [label]="profileForm.displayNameControl.label ?? ''" />


    <app-phone-number-control
      formControlName="phoneNumber"
      [aria]="profileForm.phoneNumberControl.aria"
      [label]="profileForm.phoneNumberControl.label ?? ''"
      [hint]="profileForm.phoneNumberControl.hint ?? ''"
      [maxLength]="profileForm.phoneNumberControl.maxLength"
    />

    <app-interests/>

  </fieldset>

  <mat-slide-toggle #toggle >See values</mat-slide-toggle>
  <pre *ngIf="toggle.checked">
    {{ profileForm.value | json }}
  </pre>
 </form>


