

<form [formGroup]="profileForm" class="app-ReactiveProfileForm">
  <fieldset class="app-ReactiveProfileForm-fieldset">
    <legend>
      My Profile
    </legend>

    <app-select-control formControlName="country" [label]="profileForm.countryControl.label ?? ''" [options]="[
      {
        label: 'United States',
        value: CountryCode.US
      },
      {
        label: 'Chile',
        value: CountryCode.CL
      }
    ]"/>

    <app-text-control formControlName="firstName" [label]="profileForm.firstNameControl.label ?? ''" />

    <app-text-control formControlName="lastName" [label]="profileForm.lastNameControl.label ?? ''"/>

    <app-phone-number-control
      formControlName="phoneNumber"
      [label]="profileForm.phoneNumberControl.label ?? ''"
      [hint]="profileForm.phoneNumberControl.hint ?? ''"
      [maxLength]="profileForm.phoneNumberControl.maxLength"
    />

  </fieldset>
 </form>


